{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "styled-jsx/babel",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-decorators-legacy",
    ["module-alias", [
      { "src": "./src", "expose": "src" },
      { "src": "./dropins/market", "expose": "dropins/market" }
    ]]
  ]
}
