.roadmap
  padding-top: 24px
  background: #f7f9ff
.partners
  margin-top: 48px
.press
  margin-top: 48px
  padding-top: 48px
  background: #f7f9ff
.posts
  margin-top: 48px
.lang-select
  padding: 2px 2px 2px 20px
  border: none
  background: none
  color: #fff
  font-size: 1.8em
  line-height: 50px